
body{
    min-height: 100vh;
    overflow: hidden;
}
.nomeElogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
nav a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.home:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    color:rgb(250, 250, 250);
    background-color: rgb(0, 0, 0); 
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.Sobremim:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    color:rgb(250, 250, 250);
    background-color: rgb(0, 0, 0); 
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.formacao:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    color:rgb(250, 250, 250);
    background-color: rgb(0, 0, 0); 
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.portfolio:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    color:rgb(250, 250, 250);
    background-color: rgb(0, 0, 0);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.ctt:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    color:rgb(250, 250, 250);
    background-color: rgb(0, 0, 0); 
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
section{
    display:grid;
    max-width: 1920px;
    justify-content: center;
    align-items: center;
}
p:hover{
    transform: scale(1.02);
    transition: 0.5s;
}
.carta{
    display:block;
    margin: 0 auto;
}
.sectiondiv{
    height:10vw;
}
p{
    text-align: center;
    min-width: 280px;
    max-width: 1000px;
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Exo', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;

}
.hardSkils{
    display:block;
    margin: 0 auto;
}
.htmlLogo{
    display:block;
    margin: 0 auto;
    margin-bottom: 10px;
}
/* Respndividades do Site (nav) */
body{
    @media screen and (max-width:428px){
        overflow: visible;
   }
}
body{
    @media screen and (max-height:428px){
        overflow: visible;
   }
}
nav{
    @media screen and (max-width: 885px){
        margin-top: 20px;
        border: 2px rgb(0, 0, 0) solid;
        border-radius: 10px;
        padding: 10px;
   }
}
.nomeElogo{
    @media screen and (max-width:812px){
         display: none;
    }
}

.ctt{
    @media screen and (max-width:661px){
        display: none;
    }
}
p:hover{
    @media screen and (max-width:428px){
        transform: scale(1.01);
        transition: 0.5s;
    }
}
.home,.Sobremim,.formacao,.portfolio,.ctt{
    padding:3px;
    border-radius: 5px;
}
.home,.Sobremim,.formacao,.portfolio,.ctt{
    @media screen and (min-width:413px){
        padding:10px;
        border-radius: 5px;
   }
}
