
body{
    min-height: 100vh;
    overflow: hidden;
}
.nomeElogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
nav a{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
section{
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:90vh;
    min-height: 320px;
}
section p1{
    margin-left: 20px;
    max-width: 675px;
    font-size: clamp(1em, 1em + 1vw, 1.4em);
    line-height:38px;
    min-width: 280px;
    min-height: 20px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px 100px 100px 100px;
    border: 1px  solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;
    animation: 2s move ease-in-out;
}
@keyframes move {
    0% {
        transform: translateX(-500px);
	}

	100% {
        transform: translateX(0px);
	}
  }
  @keyframes moveright {
    0% {
        transform: translateX(500px);
	}
	100% {
        transform: translateX(0px);
	}
  }
section b{
    font-size: clamp(1.5em, 1em + 1vw, 2em);;
}
button{
    background-color: rgb(255, 255, 255);
    border-radius: 100px 0px 100px 100px;
    margin-bottom: 15px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 100px 0px 100px 100px;
    border: 1px  solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;
    min-width:170px ;
    max-width: 290px;
    height:40px;
    margin-left: 20px;
}

button:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 100px 0px 100px 100px;
    border: 3px  solid rgba(0, 0, 0, 0.911);
}
.botoeslink {
    display: flex;
    justify-content: start;
    align-items:flex-start;
    margin-left: 20px;
    
}
.acessar{
    text-decoration: none;
}
.botoeslink a{
    margin-left: 10px;
    display: flex;
    border-radius: 100px;
}
.whats :hover{
    transform: scale(1.2);
    transition: all 0.5s;   
}
.git:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}
.linkedin :hover{
    transform: scale(1.2);
    transition: all 0.5s;
}
.caraImg{
    max-width: 500px;  
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 100px 0px 100px 100px;
    border: 1px  solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;
    animation: 2s moveright ease-in-out; 
     
}


/* Respndividades do Site (nav,sections e img's) */
body{
    @media screen and (max-height:428px){
        overflow: visible;
   }
}
nav{
    @media screen and (max-width: 885px){
        margin-top: 20px;
        border: 2px black solid;
        border-radius: 10px;
        padding:10px;
   }
}
.caraImg{
    @media screen and (max-width:925px){
        display: none;
    }
    @media screen and (max-height:629px){
        display: none;
    }    
}
nav{
    @media screen and (max-width:320px){
        display: none;
   }
}
nav{
    @media screen and (max-height:428px){
        display: none;
   }
}
.nomeElogo{
    @media screen and (max-width:812px){
         display: none;
    }
}
.home:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    color:rgb(250, 250, 250);
    background-color: rgb(0, 0, 0); 
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.Sobremim:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    color:rgb(250, 250, 250);
    background-color: rgb(0, 0, 0); 
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.formacao:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    color:rgb(250, 250, 250);
    background-color: rgb(0, 0, 0); 
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.portfolio:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    color:rgb(250, 250, 250);
    background-color: rgb(0, 0, 0); 
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.ctt:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    color:rgb(250, 250, 250);
    background-color: rgb(0, 0, 0); 
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.portfolio{
    @media screen and (max-width:812px){
        margin-right: 15px;;
   }
}
.ctt{
    @media screen and (max-width:661px){
        display: none;
    }
}
section p1{
    @media screen and (min-width:320px){
        margin-right: 15px;
        margin-bottom: 50px;
   }
}
section {
    @media screen and (max-width:320px){
        height: 100vh;
   }
}
section p1{
    @media screen and (max-height:428px){
        margin-top: 45px;
        animation: none;
   }
}
button{
    @media screen and (max-width:1920px){
        margin-top: 15px;
   }  
}
button{
    @media screen and (max-width:320px){
        min-width: 170px;
   }
}
button{
    @media screen and (max-width:428px){
        min-width: 200px;
        height: 40px;
}
}
.acessar{
    @media screen and (max-width:428px){
        display: flex;
        justify-content: center;
        margin-right: 20px;
}}
.botoesdiv{
    @media screen and (max-height:428px){
        display:flex ;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
}
.botoeslink {
    @media screen and (max-width:428px){
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
}
.botoeslink {
    @media screen and (max-width:428px){
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.home,.Sobremim,.formacao,.portfolio,.ctt{
    padding:3px;
    border-radius: 5px;
}
.home,.Sobremim,.formacao,.portfolio,.ctt{
    @media screen and (min-width:413px){
        padding:10px;
        border-radius: 5px;
   }
}

        
